body {
  font-family: "PT Sans", sans-serif;
}

#div-pantalla-general {
  background: rgb(177, 177, 177);
  background: radial-gradient(
    circle,
    rgba(177, 177, 177, 1) 0%,
    rgba(150, 149, 149, 1) 51%,
    rgba(77, 77, 77, 1) 100%
  );
}

button {
  font-size: 19px;
  background: rgb(210, 0, 0);
  background: radial-gradient(
    circle,
    rgba(210, 0, 0, 1) 0%,
    rgba(131, 0, 0, 1) 51%,
    rgba(57, 0, 0, 1) 100%
  );
}

#logo-Banorte {
  height: 30px;
  width: 200px;
}
